html, body, * {
  box-sizing: border-box; }

body {
  font: 100%;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #82cddd 0%, #fff799 90%);
  color: #19b9e7; }

.form_container {
  width: 800px;
  margin: 50px auto;
  border: 10px solid #19b9e7; }

@media screen and (max-width: 800px) {
  .form_container {
    width: 100%; } }
.header div p {
  font-size: 20px; }

@media screen and (max-width: 620px) {
  .header > div > p {
    font-size: 15px; } }
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #eeeeee; }
  form p {
    width: 80%; }
  form input, form select {
    width: 100%;
    height: 50px;
    padding-left: 25px;
    color: #2E8B57;
    border: 2px solid #2E8B57;
    font-size: 2rem; }
  form input:focus, form select:focus {
    outline: none; }
  form input:disabled, form select:disabled {
    color: grey; }
  form .invalideInput {
    border: 2px solid red; }
  form .valideInput {
    border: 2px solid #2E8B57; }
  form select option {
    color: #2E8B57; }

@media screen and (max-width: 850px) {
  form input, form select {
    font-size: 1.5rem; } }
@media screen and (max-width: 650px) {
  form input, form select {
    font-size: 1.2rem; } }
.step {
  display: none; }
  .step .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    justify-content: space-around; }
    .step .header img {
      width: 150px; }

.step:nth-child(1) {
  display: block; }

@media screen and (max-width: 950px) {
  .step .header img {
    width: 100px; } }
@media screen and (max-width: 700px) {
  .step .header img {
    width: 50px; } }
.pattern_error {
  color: red; }

.checkbox_container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start; }
  .checkbox_container input {
    width: 50px;
    height: 50px; }
  .checkbox_container label {
    margin-left: 10px;
    font-size: 1.2rem; }

.buttons_container {
  display: flex;
  width: 80%; }

.next_button, .prev_button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  font-size: 1.5rem;
  background-color: #19b9e7;
  color: #fff;
  margin-bottom: 10px;
  margin-right: 20px;
  cursor: pointer; }

@media screen and (max-width: 650px) {
  .prev_button, .next_button {
    width: 70px;
    font-size: 1rem; } }
@media screen and (max-width: 500px) {
  .buttons_container {
    flex-direction: column; } }
.radio_buttons {
  display: grid;
  width: 80%;
  align-items: center;
  justify-content: start;
  grid-template-columns: 45px auto;
  grid-template-rows: 40px auto;
  margin-bottom: 20px; }
  .radio_buttons input {
    display: none; }
  .radio_buttons div {
    display: flex;
    width: 25px;
    height: 25px;
    border: 2px solid grey;
    border-radius: 100%; }
  .radio_buttons .selected_radio_button {
    display: block;
    border: 2px solid #19b9e7;
    color: red; }
  .radio_buttons .selected_radio_button::after {
    content: "";
    display: block;
    border-radius: 100%;
    margin: 3px auto;
    background-color: #19b9e7;
    width: 15px;
    height: 15px; }
  .radio_buttons .not_selected {
    border: 2px solid red; }

.step:nth-child(3) p:nth-child(1) {
  position: relative; }

#cc_icon {
  position: relative;
  color: blue;
  left: 95%;
  top: 30px; }

@media screen and (max-width: 690px) {
  #cc_icon {
    left: 90%; } }
@media screen and (max-width: 580px) {
  #cc_icon {
    position: relative;
    left: 85%;
    bottom: 5px; } }
.congratulations_block {
  background-color: #2E8B57;
  color: #fff;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px; }
  .congratulations_block strong {
    font-size: 2em; }
  .congratulations_block .reload_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50px;
    background-color: #19b9e7;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    transition: 0.2s ease; }
  .congratulations_block .reload_button:hover {
    font-size: 1.8em;
    color: gold; }
