$main_blue: #19b9e7
$main_green: #2E8B57
$flexable_width: 80%


html, body, * 
  box-sizing: border-box

body
  font: 100%
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(130,205,221,1) 0%, rgba(255,247,153,1) 90% )
  color: $main_blue


.form_container 
  width: 800px
  margin: 50px auto
  border: 10px solid $main_blue


@media screen and (max-width: 800px) 
  .form_container
    width: 100%

.header
    div
      p
        font-size: 20px

@media screen and (max-width: 620px) 
  .header > div > p
    font-size: 15px    

form 
  background-color: #eeeeee
  display: flex
  flex-direction: column
  align-items: center

  p 
    width: $flexable_width

  input, select
    width: 100%
    height: 50px
    padding-left: 25px
    color: $main_green
    border: 2px solid $main_green   
    font-size: 2rem
  
  input:focus, select:focus
    outline: none

  input:disabled, select:disabled
    color: grey

  .invalideInput
    border: 2px solid red

  .valideInput
    border: 2px solid $main_green

  select
    // color: grey
    option
      color: $main_green

@media screen and (max-width: 850px) 
  form
    input, select
      font-size: 1.5rem


@media screen and (max-width: 650px) 
  form
    input, select
      font-size: 1.2rem

.step
  display: none
  .header
      background-color: #fff
      display: flex
      justify-content: space-around
      align-items: center

      img
        width: 150px

.step:nth-child(1)
  display: block

@media screen and (max-width: 950px) 
  .step
    .header
      img
        width: 100px

@media screen and (max-width: 700px) 
  .step
    .header
      img
        width: 50px

.pattern_error
  color: red

.checkbox_container
  display: flex
  align-items: center

  input
    width: 50px
    height: 50px

  label    
    margin-left: 10px
    font-size: 1.2rem
    
.buttons_container
    display: flex
    width: $flexable_width

.next_button, .prev_button
    width: 100px
    height: 40px
    display: flex
    justify-content: center
    align-items: center
    font-size: 1.5rem
    background-color: $main_blue
    color: #fff
    margin-bottom: 10px
    margin-right: 20px
    cursor: pointer

@media screen and (max-width: 650px) 
  .prev_button, .next_button
      width: 70px
      font-size: 1rem

@media screen and (max-width: 500px) 
  .buttons_container
      flex-direction: column

//step2

.radio_buttons
  display: grid
  width: $flexable_width
  align-items: center
  justify-content: start
  grid-template-columns: 45px auto
  grid-template-rows: 40px auto
  margin-bottom: 20px
  input
    display: none
  div
    display: flex
    width: 25px
    height: 25px
    border: 2px solid grey
    border-radius: 100%
  
  .selected_radio_button
    display: block
    border: 2px solid $main_blue
    color: red

  .selected_radio_button::after
    content: ''
    display: block
    border-radius: 100%
    margin: 3px auto
    background-color: $main_blue
    width: 15px
    height: 15px
  .not_selected
    border: 2px solid red



//step 3
.step:nth-child(3) p:nth-child(1)  
  position: relative

#cc_icon
  position: absolute
  color: blue  
  left: 90%    
  top: 25%

@media screen and (max-width: 690px) 
  #cc_icon
      left: 80%

@media screen and (max-width: 580px) 
  #cc_icon
      position: relative      
      left: 80%
      bottom: 5px


//end block

.congratulations_block
  background-color: $main_green
  color: #fff
  display: none
  flex-direction: column
  justify-content: center
  align-items: center
  margin: 0 auto
  padding: 20px



  strong
    font-size: 2em

  
  .reload_button
    display: flex
    justify-content: center
    align-items: center
    width: 80%
    height: 50px
    background-color: $main_blue
    cursor: pointer
    font-size: 1.5em
    color: #fff
    transition: 0.2s ease
  
  .reload_button:hover
    font-size: 1.8em
    color: gold